{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}

  <h2>Liste des annonces</h2>

  <ul>

    {% for advert in listAdverts %}
      <li>
        <a href="{{ path('oc_platform_view', {'id': advert.id}) }}">
          {{ advert.title }}
        </a>
        par {{ advert.author }},
        le {{ advert.date|date('d/m/Y') }}

        {% if not advert.categories.empty %}
          <p>
            L'annonce figure dans les catégories
            {% for category in advert.categories %}
              {{ category.name }}{% if not loop.last %}, {% endif %}
            {% endfor %}
            .
          </p>
        {% endif %}

        {% if advert.image is not null %}
          <p>
            <img src="{{ advert.image.url }}" alt="{{ advert.image.alt }}" height="60">
          </p>
        {% endif %}
      </li>
    {% else %}
      <li>Pas (encore !) d'annonces</li>
    {% endfor %}
  </ul>

  {% if page > 1 %}

    <a href="{{ path('oc_platform_home', {'page': 1}) }}"> << </a>
    <a href="{{ path('oc_platform_home', {'page': page-1}) }}"> < </a>

  {% endif %}

  {% for p in range(max(page-2, 1), min(page+2, nbPages)) %}

    <a href="{{ path('oc_platform_home', {'page': p}) }}" {% if p == page %} class="current-page" {% endif %}>{{ p }}</a>

  {% endfor %}

  {% if page < nbPages %}
    <a href="{{ path('oc_platform_home', {'page': page+1}) }}"> >> </a>
    <a href="{{ path('oc_platform_home', {'page': nbPages}) }}"> > </a>
  {% endif %}

  <ul class="pagination">

    {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}

    {% for p in range(1, nbPages) %}

      <li{% if p == page %} class="active"{% endif %}>

        <a href="{{ path('oc_platform_home', {'page': p}) }}">{{ p }}</a>

      </li>

    {% endfor %}

  </ul>

{% endblock %}
